/.vs
/src/.vs
/test/core/obj
/test/core/bin
/test/specs/obj
/test/specs/bin
/src/client/obj
/src/client/bin
/src/demo/obj
/src/demo/bin
/src/core/obj
/src/core/bin
/packages
/src/packages
/test/packages
