[submodule "broker"]
	path = broker
	url = https://github.com/julianghionoiu/tdl-client-test-broker
[submodule "test/specs/client"]
	path = test/specs/client
	url = https://github.com/julianghionoiu/tdl-client-spec
[submodule "wiremock"]
	path = wiremock
	url = https://github.com/julianghionoiu/tdl-client-test-wiremock.git
